* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;

    background-color: #F2D6B3;
    color: #401201;
}

/* Screen Up to (420px) */

/* Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;

    display: flex;
    flex-direction: row;
    /* background-color: #333; */
    background-color: #A60303;

    /* color: wheat; */
    color: #F2D6B3;
    padding: 1rem;
    align-items: center;
}

.flatButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu__open {
    margin-right: 1rem;
}

#menu__open div {
    width: 25px;
    height: 3px;
    background-color: #F2D6B3;
    margin: 5px;

    box-shadow: 2px 2px 2px black;
}

header h1 {
    font-size: larger;
    font-weight: bolder;

    text-shadow: 2px 2px 2px black;
}

nav {
    display: flex;
    align-items: center;
}

#menu {
    position: absolute;
    height: 100dvh;
    width: 50dvw;
    top: 0;
    left: -1rem;

    padding: 0.5rem 2rem;
    gap: 0.5rem;

    background-color: #A60303;
}

.inactive {
    display: none;
}


#menu__close {
    color: #F2D6B3;

    width: 2rem;
    height: 2rem;

    font-weight: bold;
    font-size: larger;
    text-align: center;

    text-shadow: 2px 2px 2px black;
}

#menu__close:hover {
    color: whitesmoke;
    font-size: x-large;
}

#menu__close:active {
    color: gray;
    font-size: larger;
}

#menu .menu__item:nth-child(2) {
    margin-top: 1rem;
}

.menu__item {
    padding: 0.5rem;
    list-style: none;

    text-shadow: 2px 2px 2px black;
}

.menu__item a {
    text-decoration: none;
    color: #F2D6B3;
    font-weight: bold;
}

.menu__item a:hover {
    font-weight: bold;
    color: whitesmoke;
}

.menu__item a:active {
    font-weight: normal;
    color: gray;
}

/* About */
main {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: auto;
    padding: 2rem 1rem 0;
}

main section:first-child {
    padding: 5rem 1rem 0;
}

#about {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.backgroundImage {
    min-width: 240px;
    min-height: 240px;
    background-position: center;
    background-size: cover;
}

#about__image {
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: url(../images/pizzaria-frente.jpg);
    background-position: center;
}

#about__article {
    padding: 0 1rem;
}

h2,
hr {
    margin: 1rem 1rem;
}

h2 {
    font-weight: bold;
    font-size: xx-large;

    text-shadow: 1px 1px 1px black;
}

hr {
    border: 1px solid red;
    margin-bottom: 1rem;
}

p {
    text-indent: 1rem;
    text-align: justify;
    font-weight: bold;
    font-size: large;
}

/* Products */
#products__list {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.list__itens {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;
}

.list__itens .item_image {
    background-image: url(../images/pizzaria-produto.jpg);
    background-size: cover;
}

.list__itens p {
    padding: 1.5rem 0;
    text-indent: 1rem;
    text-align: justify;

}

.list__itens button {
    height: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #6F7302;

    color: #F2D6B3;
    font-weight: bolder;

    text-shadow: 2px 2px 2px black;
}

.list__itens button:hover {
    opacity: 0.8;
}

/* xm: Screen up to 640px */
@media screen and (max-width: 639px) {
    .fade {
        position: absolute;
        width: 100lvw;
        height: 100lvh;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
    }
}


/* sm: Screen up to 1023px */
@media screen and (min-width: 640px) {

    /* Navbar */
    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #menu {
        height: 100%;
        width: auto;

        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 0;
        position: static;
    }

    #menu .menu__item:nth-child(2) {
        margin-top: 0;
    }


    #menu__open {
        display: none;
    }

    header h1 {
        font-size: x-large;
    }

    #menu__close {
        display: none;
    }

    /* About */
    #about__image {
        margin: 0 1rem;
    }

    /* Products */
    #products__list {
        grid-template-columns: 49% 49%;
    }
}

/* lg: Screen up to 1279px */
@media screen and (min-width: 1024px) {
    #about {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        justify-content: space-between;
        align-items: flex-start;
    }

    #about__image {
        height: 300px;
        width: 300px;
    }


    #about div {
        width: 49%;
    }

    #products__list {
        grid-template-columns: 25% 25% 25% 25%;
        justify-items: center;
    }

    .backgroundImage {
        min-width: 210px;
        min-height: 210px;
        background-position: center;
        background-size: cover;
    }
}